<div class="cont0">
    <h1>Current Enrolled Customer</h1>
    <div class="index2">
        <ul class="index0">
            <li class="index1">No</li>
            <li class="index1">Name</li>
            <li class="index1">Gender</li>
            <li class="index1">Email</li>
            <li class="index1">Date</li>
            <li class="index1">Action</li>
        </ul>
    </div>
</div>