
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-6">&nbsp;</div>
            <div class="col-lg-6">
                user:    <input type="text" id="userInput" />
                <br />
                Message: <input type="text" id="messageInput" /><br />
                <input type="button" id="sendButton" value="SendMessage" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js"></script>